<h1 class="mat-h1">Angular Flex Layout</h1>
<p>
  <a href="https://tburleson-layouts-demos.firebaseapp.com/#/docs">Learn more about Angular Flex Layout </a>
</p>
<mat-card class="card-demo">
  <mat-card-title>Responsive Layout Directions</mat-card-title>
  <mat-card-subtitle>Layout direction changes to 'column' for 'xs' or 'sm' viewport sizes:
  </mat-card-subtitle>
  <mat-card-content>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" class="coloredContainerX">
      <div fxFlex="2 2 auto" fxFlex.lt-sm="1 1 auto"> Main Content, 66% on large, 50% on mobile</div>
      <div fxFlex="1 1 auto"> Right Rail, 33% on large, 50% on mobile</div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="card-demo">
  <mat-card-title>
    Layout Gap
  </mat-card-title>
  <mat-card-subtitle>Using 'fxLayoutGap' to create a grid-like layout
  </mat-card-subtitle>
  <mat-card-content class="large">
    <div fxFlexFill>
      <div fxFlexFill fxLayout="row wrap" fxLayoutGap="10px grid" style="cursor: pointer;">
        <div fxFlex="25">
          <div class="one" fxFlexFill fxLayoutAlign="center center">
            A
          </div>
        </div>
        <div fxFlex="25">
          <div class="two" fxFlexFill fxLayoutAlign="center center">
            B
          </div>
        </div>
        <div fxFlex="25">
          <div class="three" fxFlexFill fxLayoutAlign="center center">
            C
          </div>
        </div>
        <div fxFlex="25">
          <div class="four" fxFlexFill fxLayoutAlign="center center">
            D
          </div>
        </div>
        <div fxFlex="25">
          <div class="five" fxFlexFill fxLayoutAlign="center center">
            E
          </div>
        </div>
        <div fxFlex="25">
          <div class="six" fxFlexFill fxLayoutAlign="center center">
            F
          </div>
        </div>
        <div fxFlex="25">
          <div class="seven" fxFlexFill fxLayoutAlign="center center">
            G
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer class="bottomPad">
    <div class="hint"></div>
  </mat-card-footer>
</mat-card>

<mat-card class="card-demo">
  <mat-card-title>
    Layout Fill
  </mat-card-title>
  <mat-card-subtitle>Using 'fxFill' to fill available width and height of parent container.
  </mat-card-subtitle>
  <mat-card-content class="large">
    <div fxLayout="column" fxFill>
      <div fxLayout fxFlex>
        <div class="one" fxFlex="20" fxLayoutAlign="center center"> A</div>
        <div class="two" fxFlex="80" fxLayoutAlign="center center"> B</div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer class="bottomPad">
    <div class="hint"></div>
  </mat-card-footer>
</mat-card>
